<% layout('layouts/boilerplate')%>

<div class="card shadow" style="max-width: 100%;">

    <div class="card">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" alt="" style="height: 250px; width: 300px;" src="https://png.pngtree.com/png-clipart/20200224/original/pngtree-avatar-icon-profile-icon-member-login-vector-isolated-png-image_5247852.jpg">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Name : <%= user.username%></h5>
                
                    <p class="card-text">designation: <%= user.designation%></p>

                    <p class="card-text">
                        <small class="text-muted">Number: <%= user.phoneno%></small> 
                    </p>
                    <p class="card-text">
                        <small class="text-muted">Number: <%= user.email%></small> 
                    </p>
                    <p class="card-text">
                        <small class="text-muted">Manager: <%= manager%></small> 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>  

<% if(currentUser && currentUser.designation === "admin") { %>
    <div class="card-body">
        <a class="card-link btn btn-outline-info" style="width: 100px; height: 40px;" href="/employee/<%=user._id%>/edit">Edit</a>
        <form class="d-inline" action="/employee/<%=user._id%>?_method=DELETE" method="POST"
            onclick=" return confirm('Are you sure you want to delete this record');"><button
            class="btn btn-outline-danger btn-sm btn-inline" style="width: 100px; height: 40px;" >Delete</button>
        </form>
        <a class="btn btn-outline-info" style="width: 100px; height: 40px;" href="/employee/find">Back</a>
    </div>
<% } %>